<?xml version="1.0" ?>
<robot name="theGreeter">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://greeter_description/meshes/robot.dae"/>
      </geometry>
    </visual>
  </link>
  <link name="odom"></link>
  <link name="default_cam"></link>
  <joint name="odom_joint" type="fixed">
    <parent link="odom"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="default_cam"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
